%update-notice {
  font-size: 13px;
  color: gray;
  margin-left: 10px;
}

header {
  min-height: 120px;
  width: 960px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  @media screen and (max-width: $break-tablet) {
    width: 100%;
  }
}

.header-row {
  background: #011c29 url(../images/pattern-bg-lines.png) repeat-x top left;
}

.header-left {
  height: 146px;
  width: 357px;
  float: left;
  overflow: hidden;
  @media screen and (max-width: $break-tablet) {
    padding-left: 15px;
    width: 270px;
  }

  @media screen and (max-width: $break-small-tablet) {
    clear: both;
    text-align: center;
    width: 100%;
    padding-left: 0;
    height: auto;
  }
}

.header-right {
  float: left;
  padding-left: 140px;
  margin-top: 35px;
  overflow: hidden;
  @media screen and (max-width: $break-tablet) {
    float: right;
    padding-left: 0;
  }

  @media screen and (max-width: $break-small-tablet) {
    clear: both;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h3 {
    color: white;
    float: left;
    margin: 0 0 6px 0;
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-right: 20px;
    overflow: hidden;
    @media screen and (max-width: $break-tablet) {
      margin-right: 15px;
      float: none;
    }

    @media screen and (max-width: $break-small-tablet) {
      text-align: center;
      margin-right: 0;
      br {
        display: none;
      }
    }

    span {
      color: #2c99c4;
    }
  }
  .twitter-hashtag-button, iframe {
    float: left;
    @media screen and (max-width: $break-tablet) {
      display: none;
    }
  }
}

.home-link {
  display: block;
  width: 314px;
  height: 45px;
  text-decoration: none;
  position: absolute;
  top: 23px;
}

.brand {
  color: #b2babe;
  width: 269px;
  height: 78px;
  display: block;
  margin: 28px 0 0 1px;
  background: transparent url(../images/logo.png) no-repeat top left;
  position: relative;
  span {
    position: absolute;
    bottom: 4px;
    right: 0;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: -0.2px;
    a {
      color: #ef791a;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: $break-small-tablet) {
    margin: 28px auto 0 auto;
  }
}

#chart {
  margin: 0 0 37px 0;
  min-height: 960px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  @media screen and (max-width: $break-tablet) {
    display: none;
  }

  svg {
    margin: 0 auto;
    display: block;
    circle:hover, text {}
    cursor: pointer;
    opacity: 0.89;
  }
  text {
    fill: white;
  }

  h2 {
    font-size: 33px;
    font-weight: 200;
    font-style: normal;
    margin: 0 auto;
    width: 960px;
    clear: both;
    margin-bottom: -70px;
    color: #ef791a;

    span {
      @extend %update-notice;
    }
  }
}

.container-raw {
  width: 910px;
  margin: 0 auto;
  h2 {
    font-size: 33px;
    font-weight: 200;
    margin-bottom: 16px;

    span {
      @extend %update-notice;
    }
  }

  @media screen and (max-width: $break-tablet) {
    width: 100%;
    overflow: hidden;
    h2 {
      margin-left: 15px;
    }
  }
}

.raw-lang {
  width: 281px;
}

.raw-count {
  text-align: center;
  font-size: 24px;
}

.twitter-feed {
  width: 480px;
  float: right;
  padding-bottom: 30px;
  iframe {
    height: 1700px;
    display: block;
  }

  @media screen and (max-width: $break-tablet) {
    width: 45%;
    margin-right: 15px;
  }

  @media screen and (max-width: $break-mobile) {
    width: 94%;
    margin-left: 15px;
    float: none;
  }
}

.raw-data {
  width: 400px;
  float: left;
  tbody tr {
    &:hover {
      background: #fdfdfd;
    }
    td {
      border-top: 1px solid #eeeeee;
      font-size: 22px;
      font-weight: 200;
    }
  }
  td, th {
    padding: 0px 5px;
    line-height: 58px;
  }
  th {
    font-size: 18px;
    font-weight: 200;
  }
  a {
    color: #333333;
    text-decoration: none;
    text-transform: lowercase;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $break-tablet) {
    width: 45%;
    margin-left: 15px;
  }

  @media screen and (max-width: $break-mobile) {
    width: 90%;
    margin: 15px;
    float: none;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px 10px;
  border-radius: 8px;
  pointer-events: none;
  background: white;
}

.notice {
  font-size: 17px;
  vertical-align: middle;
}

.end-msg {
  color: #fff;
  font-size: 1.1em;
}