header {
  height: 120px;
  width: 960px;
  display: block;
  margin: 0 auto;
}

.header-row {
  background: #011c29 url(../images/pattern-bg-lines.png) repeat-x top left;
}

.header-left {
  height: 146px;
  width: 357px;
  float: left;
}

.header-right {
  height: 48px;
  float: left;
  padding-left: 140px;
  margin-top: 35px;
  h3 {
    color: white;
    float: left;
    margin: 0 0 6px 0;
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-right: 20px;
    span {
      color: #2c99c4;
    }
  }
  a {
    float: left;
  }
}

.home-link {
  display: block;
  width: 314px;
  height: 45px;
  text-decoration: none;
  position: absolute;
  top: 23px;
}
