/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */

/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: "";
    content: none; } }

q {
  &:before, &:after {
    content: "";
    content: none; } }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body {
  font: 13px / 1.231 sans-serif;
  *font-size: small; }

/* Hack retained to preserve specificity */

select, input, textarea, button {
  font: 99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */

html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */

a {
  &:hover, &:active {
    outline: none; } }

ul {
  margin-left: 2em; }

ol {
  margin-left: 2em;
  list-style-type: decimal; }

/* Remove margins for navigation lists */

nav {
  ul, li {
    margin: 0;
    list-style: none;
    list-style-image: none; } }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */

sub {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */

input {
  &[type="radio"] {
    vertical-align: text-bottom; }
  &[type="checkbox"] {
    vertical-align: bottom; } }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */

label {
  cursor: pointer; }

input {
  &[type="button"], &[type="submit"], &[type="image"] {
    cursor: pointer; } }

button {
  cursor: pointer;
  margin: 0; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */

input, select, textarea {
  margin: 0; }

/* Colors for form validity */

input:valid, textarea:valid {}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow {
  input:invalid, textarea:invalid {
    background-color: #f0dddd; } }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */

::-moz-selection, ::selection {
  background: #00ccff;
  color: #fff;
  text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */

button {
  width: auto;
  overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */

.ie7 img {
  -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a {
  color: #00ccff;
  text-decoration: none;
  &:active, &:visited {
    color: #00ccff;
    text-decoration: none; }
  &:hover {
    color: #fff;
    text-decoration: none; } }

/**
 * Primary styles
 *
 * Author: Tom Siodlak
 */

html {
  background: #151515 url(/images/bg.jpg) repeat-x; }

body {
  background: url(/images/map.png) no-repeat bottom;
  margin: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300; }

@font-face {
  font-family: 'CrimsonItalic';
  src: url('Crimson-Italic-webfont.eot');
  src: url('Crimson-Italic-webfont.eot?#iefix') format("embedded-opentype"), url('Crimson-Italic-webfont.woff') format("woff"), url('Crimson-Italic-webfont.ttf') format("truetype"), url('Crimson-Italic-webfont.svg#CrimsonItalic') format("svg");
  font-weight: normal;
  font-style: normal; }


/**
 * Header
 */

header {
  height: 48px;
  background: #fc832e;
  border-top: 1px solid #feb785;
  background: url("/images/header.png") repeat-x;
  section {
    width: 910px;
    height: 36px;
    margin: auto; } }

#logo {
  position: relative;
  top: -1px;
  float: left; }

#twitter {
  float: right; }

/**
 * Main
 */

#main, #phone {
  width: 910px;
  margin: auto; }

.phone {
  color: #fd9146;
  font-size: 20px;
  text-transform: none;
  background-color: rgba(252, 131, 46, 0.2);
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 20px 5px;
  width: 330px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color = black, offx = 1, offy = 1);
  position: relative;
}

#budget {margin-bottom: 10px; padding-left: 20px;}
#budget .span {display: block; float: left; font-size: 16px; margin-right: 50px;}
#budget .span:last-child {margin-right: 0px;}

#slider {margin-left: 30px; margin-right: 20px;}

h1 {
  color: #fff;
  font-size: 40px;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color = black, offx = 1, offy = 1);
  font-weight: bold; }

#welcome {
  h1 {
    em {color: #D66E00;}
  }
  p {
  color: #9f9e9e;
  font-size: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
    em {
      color: #d1d1d1;
      font-size: 39px;
      font-family: 'CrimsonItalic', Arial, sans-serif; } }
}

.divider {
  height: 9px;
  background: #d26a0d;
  -webkit-box-shadow: 0px 3px 5px #000000;
  -moz-box-shadow: 0px 3px 5px #000000;
  box-shadow: 0px 3px 5px #000000;
  margin-top: 15px;
  margin-bottom: 30px; }

.divider-gray {
  height: 9px;
  background: #333333;
  -webkit-box-shadow: 0px 3px 5px #000000;
  -moz-box-shadow: 0px 3px 5px #000000;
  box-shadow: 0px 3px 5px #000000;
  margin-top: 35px;
  margin-bottom: 30px; }

#preview {
  p {
    color: #9f9e9e;
    font-size: 18px;
    em {
      color: #D1D1D1;
      font-style: italic;
    }
    strong {
      color: #fff;
      font-size: 18px; }
    .hybrid {
      color: #d26a0d; } }
  #left {
    width: 426px;
    float: left; }
  #quote {
    color: #757575;
    font-size: 24px;
    margin-top: 30px; }
  #quote2 {
    color: #fff;
    font-size: 19px;
    font-family: 'CrimsonItalic', Arial, sans-serif;
    margin-top: 10px; }
  #right {
    float: right;
    padding-top: 30px;
    position:relative;
    width: 484px;
    p {
      font-size: 13px;
      position: absolute;
      top: 390px;
      left: 310px; }
    a {
      color: #00ccff;
      text-decoration: none;
      &:hover {
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
        color: #fff;
        text-decoration: none; } } }

  #opensource {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px; }
  ul {
    margin: 0px; }
  li {
    font-size: 16px;
    background: #202020;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 380px;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 4px;
    color: #303030;
    &:hover {color: #666;}
    a {
      color: #00ccff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: none; } } } }
// the slideshow
ul.pagination {
  display: none;
}
div.slides_container {
  height: 435px;
}
#help {
  .col {
    width: 190px;
    float: left;
    border-right: 1px solid #1b1b1b;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 40px;
    text-align: center; }
  .col-1 {
    width: 190px;
    float: left;
    border-right: 1px solid #1b1b1b;
    padding-right: 24px;
    padding-left: 0px; }
  .col-4 {
    width: 190px;
    float: left;
    border-right: 0px;
    padding-right: 0px;
    padding-left: 24px;
    h2 small {text-transform: lowercase;}
    }
  .icons {
    opacity: 0.3;
    &:hover, &.hover {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      opacity: 1; } }
  h2 {
    color: #d46b0f;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px; }
  p {
    color: #757575;
    font-size: 14px; }
  .button {
    color: #fd9146;
    cursor: pointer;
    font-size: 14px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color = black, offx = 1, offy = 1);
    margin-top: 30px;
    padding: 7px 15px 7px;
    background: url(/images/button-bg.jpg) repeat;
    margin-bottom: 30px;
    &:hover {
      color: #fff;
      font-size: 14px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #000000;
      filter: dropshadow(color = black, offx = 1, offy = 1);
      margin-top: 30px;
      background: #fc832e;
      /* Old browsers */
      background: -moz-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc832e), color-stop(100%, #c26100));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC832E', endColorstr='#C26100',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* W3C */
      margin-bottom: 30px;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; } } }

#say p {
  color: #9f9e9e;
  font-size: 22px;
  border-bottom: 1px solid #1b1b1b;
  padding-bottom: 24px;
  padding-top: 24px;
  font-weight: bold;
  &.last {
    border-bottom: 0px; }
  em {
    color: #757575;
    font-family: 'CrimsonItalic', Arial, sans-serif;
    font-weight: normal; } }

#reach {
  h1 {
    float: left; }
  .phone {
    color: #fd9146;
    font-size: 20px;
    text-transform: uppercase;
    background: url(/images/button-bg.jpg) repeat;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px 10px;
    width: 390px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    float: right;
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color = black, offx = 1, offy = 1);
    position: relative;
    left: 0px;
    top: -25px;
    margin-bottom: -15px; }
  .col {
    width: 190px;
    float: left;
    border-right: 1px solid #1b1b1b;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 20px;
    text-align: center; }
  .col-1 {
    width: 380px;
    float: left;
    border-right: 1px solid #1b1b1b;
    padding-right: 24px;
    padding-left: 0px; }
  .col-4 {
    width: 190px;
    float: left;
    border-right: 0px;
    padding-right: 0px;
    padding-left: 24px; }
  form {
    button.button {border: none; max-width: 300px;}
    button.button:hover {max-width: 300px;}
    input[type="text"] {background: none; border: none;}
    label {font-size: 12px; float: left; line-height: 23px; margin-right: 10px;}
    .radio {display: block; float: left; margin-right: 0px; position: relative;}
    .radio span {display: block; float: left;}
    .radio input {display: block; float: left;}
    .selector span {width: 340px}
    .selector select {width: 370px}
  }
  h2 {
    color: #d46b0f;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px; }
  p {
    color: #757575;
    font-size: 14px;
    padding-bottom: 20px; }
  .button {
    color: #fd9146;
    cursor: pointer;
    font-size: 14px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color = black, offx = 1, offy = 1);
    padding: 7px 15px 7px;
    background: url(/images/button-bg.jpg) repeat;
    margin:  20px auto 0px;
    max-width: 140px;
    &:hover {
      color: #fff;
      font-size: 14px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #000000;
      filter: dropshadow(color = black, offx = 1, offy = 1);
      background: #fc832e;
      /* Old browsers */
      background: -moz-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc832e), color-stop(100%, #c26100));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC832E', endColorstr='#C26100',GradientType=0 );
      /* IE6-9 */
      background: linear-gradient(top, #fc832e 0%, #c26100 100%);
      /* W3C */
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      max-width: 140px; } }
  ul {
    margin: 0px; }
  li {
    font-size: 16px;
    background: #202020;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 340px;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 8px;
    color: #686868;
    &.non {
      background: none; }
    a {
      color: #00ccff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: none; } } } }

#followus {display: block;}
#tweets {margin-bottom: 10px;}
#tweets .tweet_list {
  li {@extend .clearfix; font-size: 12px; width: 160px;}
  li a.tweet_avatar {float: left; display: block; width: 15px; height: 15px;}
  li a.view_tweet {display: none;}
  li h4 {float: right; font-size: 12px; width: 120px;}
}


#ourblog {}
#ourblog p h3 {font-size: 14px;}

#thankyou {display: none; margin-top: 15px;}
#thankyou p {background-color: #D46B0F; color: #fff; padding: 5px; -moz-border-radius: 20px; border-radius: 20px;}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  background-color: #343434;
}

/**
 * Footer
 */

footer {
  width: 910px;
  margin: auto;
  padding-bottom: 30px;
  p {
    text-transform: uppercase; }
  a {
    color: #d46b0f; } }

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */

.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; } } }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */

/* Hide visually and from screenreaders, but maintain layout */

.invisible {
  visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */

.clearfix {
  &:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  zoom: 1; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */ }

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */ }

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a {
    color: #444 !important;
    text-decoration: underline;
    &:visited {
      color: #444 !important;
      text-decoration: underline; }
    &[href]:after {
      content: " (" attr(href) ")"; } }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after {
    content: ""; }
  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: ""; } }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }


