.row
  .span10
    %blockquote.large
      "What programming languages have you used this year? Tweet using #code2012"
    %br/
    %br/
    #stats
      %img{:src => Gchart.bar(:title => 'Languages From The Most Recent 100 Tweets', :size => '600x200', :theme => :greyscale, :data => @stats.collect{|s|s[1]})}

      #tabledata
        %table.zebra-striped
          %th
            Language
          %th
            Count
          - @stats.each do |s|
            %tr
              %td
                #{s[0]}
              %td
                #{s[1]}

  .span5.offset1
    <a href="https://twitter.com/intent/tweet?button_hashtag=code2012" class="twitter-hashtag-button" data-size="large" data-related="deadprogram">Tweet #code2012</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %br

    :javascript
      new TWTR.Widget({
       version: 2,
       type: 'search',
       search: 'code2012',
       interval: 30000,
       title: '#code2012',
       subject: '',
       width: 280,
       height: 600,
       theme: {
         shell: {
           background: '#000000',
           color: '#ffffff'
         },
         tweets: {
           background: '#ffffff',
           color: '#444444',
           links: '#1985b5'
         }
       },
       features: {
         scrollbar: true,
         loop: true,
         live: true,
         behavior: 'default'
       }
      }).render().start();
