.row
  .span16
    Statistics from 100 Most Recent Tweets
    %br/
    %br/

    %table.zebra-striped
      %th
        Language
      %th
        Count
      - @stats.each do |s|
        %tr
          %td
            #{s[0]}
          %td
            #{s[1]}
