.row
  .span10
    %blockquote.large
      "What programming languages have you used this year? Tweet using #code2011"
    %br/
    %br/
    #stats
      %img{:src => Gchart.bar(:title => 'Languages From The Most Recent 100 Tweets', :size => '600x200', :theme => :greyscale, :data => @stats.collect{|s|s[1]})}

      #tabledata
        %table.zebra-striped
          %th
            Language
          %th
            Count
          - @stats.each do |s|
            %tr
              %td
                #{s[0]}
              %td
                #{s[1]}

  .span5.offset1
    :javascript
      new TWTR.Widget({
       version: 2,
       type: 'search',
       search: 'code2011',
       interval: 30000,
       title: '#code2011',
       subject: '',
       width: 280,
       height: 600,
       theme: {
         shell: {
           background: '#000000',
           color: '#ffffff'
         },
         tweets: {
           background: '#ffffff',
           color: '#444444',
           links: '#1985b5'
         }
       },
       features: {
         scrollbar: true,
         loop: true,
         live: true,
         behavior: 'default'
       }
      }).render().start();

