.row
  .span16
    Statistics from Twitter.
    %br/
    %br/

    %table.zebra-striped
      %th
        Language
      %th
        Count
      - @stats.each do |k, v|
        %tr
          %td
            #{k}
          %td
            #{v}
