<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title #code2012 - The Stats - Handmade by The Hybrid Group
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Mobile viewport optimized: j.mp/bplateviewport
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Place favicon.ico &amp; apple-touch-icon.png in the root of your domain and delete these references
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    %script{:type =>"text/javascript", :src => "http://widgets.twimg.com/j/2/widget.js"}
    %script{:type =>"text/javascript", :src => "/javascript/jquery-1.7.1.min.js"}
    %script{:type =>"text/javascript", :src => "/javascript/application.js"}
  %body
    .topbar 
      .topbar-inner
        .container
          %a.brand{:href => "/"} #code2012

    .container.start
      .page-header
        %h1 
          Twitter #code2012 Stats
          %small
            Handmade By
            %a{:href => "http://hybridgroup.com/"} The Hybrid Group
      = yield
    %footer
      %p
      %br/
    / ! end of #container
    / JavaScript at the bottom for fast page loading
    / Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
    / end scripts
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-13276942-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

