!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %title Hashcode - The Stats - Handmade by The Hybrid Group

    %meta{:content => "What programming languages have you used this year? Tweet using #code2013", :name => "description"}
    %meta{:content => "The Hybrid Group", :name => "author"}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    %link{:rel => "stylesheet", :href => "/stylesheets/barebones.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css"}

    %script{:type =>"text/javascript", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      window.language_stats = #{@stats.to_json}
  %body
    .container
      %header
        %h1
          Twitter #code2013 Stats
          %small
            Handmade By
            %a{:href => "http://hybridgroup.com/"} The Hybrid Group
        %hr
      = yield


    %script{:type =>"text/javascript", :src => "/javascript/jquery-1.7.1.min.js"}
    %script{:type =>"text/javascript", :src => "/javascript/d3.v3.min.js"}
    %script{:type =>"text/javascript", :src => "/javascript/application.js"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13276942-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
