<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title #code2011 - The Stats - Handmade by The Hybrid Group
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Mobile viewport optimized: j.mp/bplateviewport
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Place favicon.ico &amp; apple-touch-icon.png in the root of your domain and delete these references
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  %body
    .topbar 
      .topbar-inner
        .container
          %a.brand{:href => "/"} #code2011

    .container.start
      .page-header
        %h1 
          Twitter #code2011 Stats
          %small
            Handmade By
            %a{:href => "http://hybridgroup.com/"} The Hybrid Group
      = yield
    %footer
      %p
      %br/
    / ! end of #container
    / JavaScript at the bottom for fast page loading
    / Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
    / end scripts
  


