%img{:src => Gchart.bar(:title => 'Languages From The Most Recent 100 Tweets', :size => '600x200', :theme => :greyscale, :data => @stats.collect{|s|s[1]})}

#tabledata
  %table.zebra-striped
    %th
      Language
    %th
      Count
    - @stats.each do |s|
      %tr
        %td
          #{s[0]}
        %td
          #{s[1]}


