%figure
  %figcaption Languages From The 100 Most Recent Tweets
  %img{:src => Gchart.bar(:size => '680x200', :theme => :greyscale, :data => @stats.collect{|s|s[1]})}

#tabledata
  %table.striped.condensed
    %thead
      %th Language
      %th Count
    %tbody
      - @stats.each do |stat|
        %tr
          %td= stat[0]
          %td= stat[1]
