%figure
  %figcaption Languages From The 100 Most Recent Tweets

#tabledata
  %table.striped.condensed
    %thead
      %th Language
      %th Count
    %tbody
      - @stats.each do |stat|
        %tr
          %td= stat[0]
          %td= stat[1]
