header {
  h1 {
    margin-bottom: 0px;
  }
  hr {
    margin-top: 0
  }
}

figure {
  figcaption {
    color: #888;
    text-align: center;
    font-size: 13px;
  }
  img {
    width: 100%;
  }
}

#subtitle {
  text-align: center;
  margin-bottom: 20px;
}
