@import "variables.sass"
@import "reset.sass"

header
  height: 146px
  width: 960px
  display: block
  margin: 0 auto

.header-left
  height: 146px
  width: 359px
  float: left

.header-right
  height: 45px
  border-left: 2px solid #ccc
  float: left
  padding-left: 48px
  margin-top: 52px
  h3
    margin: 0 0 2px 0
    font-size: 1.1em

.home-link
  display: block
  width: 314px
  height: 45px
  text-decoration: none
  position: absolute
  top: 23px

.brand
  width: 314px
  height: 94px
  display: block
  margin: 28px 0 0 1px
  background: transparent url(../images/logo.png) no-repeat top left
  position: relative
  span 
    position: absolute
    bottom: 2px
    right: 0
    font-size: 0.9em
    a
      color: #ef791a
      text-decoration: none
      &:hover
        text-decoration: underline

#chart 
  background: -webkit-radial-gradient(#0f9fd7, #148bcb)
  background: -o-radial-gradient(#0f9fd7, #148bcb)
  background: -moz-radial-gradient(#0f9fd7, #148bcb)
  background: radial-gradient(#0f9fd7, #148bcb)
  margin: 0 0 20px 0
  svg
    margin: 0 auto
    display: block

.container-raw
  width: 908px
  margin: 0 auto
  h2
    font-size: 2.2em
    font-weight: 200

.raw-data
  width: 640px
  tbody tr
    &:hover
      background: #f3f3f3 
    td 
      border-top: 1px solid #eee
  td, th 
    padding: 10px 20px
  a
    color: #333
    text-decoration: none
    &:hover
      text-decoration: underline

.text-center
  text-align: center

footer
  height: 50px