@import "variables.sass"
@import "reset.sass"

header
  height: 146px
  width: 980px
  display: block
  margin: 0 auto

.header-left
  height: 146px
  width: 359px
  float: left

.header-right
  min-height: 48px
  border-left: 2px solid #ccc
  float: left
  padding-left: 48px
  margin-top: 50px
  h3
    margin: 0 0 10px 0

.home-link
  display: block
  width: 314px
  height: 45px
  text-decoration: none
  position: absolute
  top: 23px

.brand
  width: 314px
  height: 94px
  display: block
  margin: 28px 0 0 1px
  background: transparent url(../images/logo.png) no-repeat top left
  position: relative
  span 
    position: absolute
    bottom: 2px
    right: 0
    font-size: 0.9em
    a
      color: #ef791a
      text-decoration: none
      &:hover
        text-decoration: underline

#chart 
  background: #148bcb
  margin: 0 0 20px 0
  svg
    margin: 0 auto
    display: block