<div id="chart">
  <h2>Raw Data</h2>
</div>

<div class="container-raw">
  <h2>Raw Data</h2>

  <table class="raw-data">
    <thead>
      <tr>
      <th class="text-left">Language</th>
      <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |name, count| %>
        <tr>
          <td class="raw-lang"><a href="https://twitter.com/search?q=%23code2013%20<%= name %>&src=typd&f=realtime" target="blank"><%= name %></a></td>
          <td class="raw-count"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
