<div id="chart">
  <h2>Chart <span class="notice">(updated every 10 minutes)</span> </h2>
</div>

<div class="container-raw">
  <h2>Raw Data <span class="notice">(updated every 10 minutes)</span> </h2>

  <div class="twitter-feed">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23code2013" data-widget-id="417674848777666560">Tweets about "#code2013"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <table class="raw-data">
    <thead>
      <tr>
      <th class="text-left">Language</th>
      <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |name, count| %>
        <tr>
          <td class="raw-lang"><a href="https://twitter.com/search?q=%23code2013%20<%= name %>&src=typd&f=realtime" target="blank"><%= name %></a></td>
          <td class="raw-count"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

