<div id="chart"></div>

<table>
  <thead>
    <tr>
    <th>Language</th>
    <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>