<div id="finished-notice">
  <div class="container">
    <h2>Thank you!</h2>

    <p>This year <code> #code2013</code> was a success, and we want to thank you all for making it possible.</p>

    <p>Today, Friday, Jan 10th, 2014 we're closing the data collection. And we're going to be reprocessing the data to get more <br> accurate data for you to visualise.</p>

    <p>Once it's ready, we'll tweet about it on <a href="https://twitter.com/hybrid_group" target="blank">@hybrid_group</a>!
      <br> so be sure to follow us to get some nice updates!</p>
  </div>
</div>

<div id="chart">
  <h2>Chart</h2>
</div>

<div class="container-raw">
  <h2>Raw Data</h2>

  <div class="twitter-feed">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23code2013" data-widget-id="417674848777666560">Tweets about "#code2013"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <table class="raw-data">
    <thead>
      <th class="text-left">Language</th>
      <th>Count</th>
    </thead>
    <tbody>
      <% @stats.each do |name, count| %>
        <% next if count == 0 %>
        <tr>
          <td class="raw-lang"><a href="https://twitter.com/search?q=%23code2013%20<%= name %>&src=typd&f=realtime" target="blank"><%= name %></a></td>
          <td class="raw-count"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

