<h1>Twitter #code2013 stats</h1>

<div id="chart">
  
</div>

<table>
  <thead>
    <tr>
    <th>Language</th>
    <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var statJSON = <%= @stats.to_json %>
</script>
