<div class="header-row">
  <header>
    <div class="header-left">
      <div class="brand">
        <a href="/" class="home-link">&nbsp;</a>
        <span>Handmade by <a href="http://hybridgroup.com" target="blank">The Hybrid Group</a></span>
      </div>
    </div>
    <div class="header-right">
      <h3>What <span>programming languages</span><br> did you use during 2014?</h3>

      <a href="https://twitter.com/intent/tweet?button_hashtag=code2014" class="twitter-hashtag-button" data-size="large">Tweet #code2014</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </header>

  <div id="chart">
    <h2>Chart <span>Updated every 10 minutes</span></h2>
  </div>
</div>

<div class="container-raw">
  <h2>Raw Data <span>Updated every 10 minutes</span></h2>

  <table class="raw-data">
    <thead>
      <th class="text-left">Language</th>
      <th>Count</th>
    </thead>
    <tbody>
      <% @stats.each do |name, count| %>
        <% next if count == 0 %>
        <tr>
          <td class="raw-lang"><a href="https://twitter.com/search?q=%23code2014%20<%= name %>&src=typd&f=realtime" target="blank"><%= name %></a></td>
          <td class="raw-count"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="twitter-feed">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/code2014?f=realtime" data-widget-id="549642018381500419">#code2014 Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<div class="container-explanation">
  <h2>What Is #code2014?</h2>

  <p>It all started from a casual tweet sent by @deadprogram in late December 2009. From that one spark, #code2009 became an emergent phenomenon in terms of those early days of social media.
  </p>

  <p>
  Each year since then, there has been this same annual informal Twitter survey of programming languages, created by and for the community. And each year it has grown.
  </p>

  <p>
  This year for #code2014 we created this site to show the real-time data and to conduct data analysis, of the programming languages we all use.
  </p>

  <p>
  We do this as a public service to the programming community that we are a part of. We do it for the joy of creation. And we do it, as programmers are known to do, simply because we can.
  </p>

  <p>
  But #code2014 is, as always, what people choose to make of it for themselves. Of the thousands of people that participate, each has their own reasons. Some responses are serious minded, some parody it, but taken in all, they are reflections of the many parts of the community to which we belong, simply by being creators of code.
  </p>

  <p>
  Thank you all for being a part of this.
  </p>
</div>