<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Code2014 - What programming languages have you used this year?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet'>
    <%= css :application %>
  </head>
  <body>
    <div id="wrap">
      <%= yield %>
    </div>

    <footer>
      Copyright © 2014 <a href="http://hybridgroup.com" target="blank" class="thg-logo"></a>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/javascripts/bubblechart.js"></script>
    <script type='text/javascript'>
      $(document).ready(function() {
        $.getJSON('/stats.json', function(data) {
          show_chart(data);
        });

        var minutes = 5;

        setInterval(function() {
          $.ajax().done(function(data) {
            raw_data = $(data).find('.raw-data');
            $('.raw-data').replaceWith(raw_data);
          });

          $.getJSON('/stats.json', function(new_data) {
            $("#chart svg").remove();
            show_chart(new_data);
          });

        }, minutes * 60 * 1000);
      });
    </script>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-13276942-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
