<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Code2013 - What programming languages have you used this year?</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet'>
    <%= css :application %>
  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="header-left">
          <div class="brand">
            <a href="/" class="home-link">&nbsp;</a>
            <span>Homemade by <a href="http://hybridgroup.com" target="blank">The Hybrid Group</a></span>
          </div>
        </div>
        <div class="header-right">
          <h3>What programming languages<br>did people use during 2013?</h3>
        </div>
      </header>
      <%= yield %>
    </div>

    <footer>
    </footer>
    <script src="/js/d3.min.js"></script>
    <script src="/stats.js"></script>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-13276942-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>
