<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <title>App</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600' rel='stylesheet' type='text/css'>
    <%= css :application %>
  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="header-left">
          <div class="brand">
            <a href="/" class="home-link">&nbsp;</a>
            <span>Homemade by <a href="http://hybridgroup.com" target="blank">The Hybrid Group</a></span>
          </div>
        </div>
        <div class="header-right">
          <h3>What programming languages have you used this year?</h3>
          <a href="https://twitter.com/intent/tweet?button_hashtag=code2013" class="twitter-hashtag-button" data-related="hybrid_group">Tweet #code2013</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </header>
      <%= yield %>
    </div>
    <footer>
      
    </footer>    
    <%= js :application %>
    <script src="/stats.js"></script>
  </body>
</html>
